@page "/addspot"
@using Microsoft.AspNetCore.Authorization
@using System.ComponentModel.DataAnnotations
@using KansaiExplore.Data

@inject NavigationManager NavigationManager

@attribute [Authorize]

<PageTitle>スポットの追加</PageTitle>
<h3>スポットの追加</h3>

<div class="row">
    <section>

    </section>
</div>

@code {
    [CascadingParameter]
    private HttpContent HttpContent { get; set; } = default!;

    private sealed class SpotInputModel
    {
        public string SpotName { get; set; } = "";
        public string SpotDesc { get; set; } = "";
    }
}
